<template>
	<div id="muckeness-app" >
		<h1>Hello Muckness</h1>
	</div>
</template>
<script type="text/javascript">
(function () {
	"use strict";

	module.exports = {
		"name": "MucknessApp",
		"components": {
		},
		// "mixins": [require("../../../etc/js/shared_mixins/animations/fade.js")],
		"computed": {

		},
		"methods": {

		}
	};
}());
</script>
<style scoped lang="scss" rel="stylesheet/scss">
	@import "../../../etc/css/variables.scss";

	#muckeness-app {
		height: 100%;
		width: 100%;
		font-family: "Helvetica Neue", Arial, sans-serif;

	}
</style>
