$primary-color: #FFFFFF;
$secondary-color: #FFFFFF;
$third-color: #FFFFFF;
$danger-color: #FFFFFF;
$light-font-color: #FFFFFF;
$dark-font-color: #FFFFFF;
$font-stack: 'Helvetica Neue', Arial, sans-serif;
$mono-font-stack: 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
$default-margin: 7px;
$green-color: #FFFFFF;